<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default"
>

<head>
	<title>Dates From Around The World</title>
</head>

<body class="container">
	<div class ="row amber lighten-4" layout:fragment="content">
	
		<form th:action="@{/datesFromAroundTheWorld/translateDate}" 
			method="post" th:object="${dateTranslationRequest}" 
			class ="col s12">
		
			<div class="row">	
				<div class="input-field col s4" >
					<input id="localDate" type="text" 
							th:field="${dateTranslationRequest.localDate}" th:placeholder="${dateFormat}" />			
					<label for="localDate">Enter Local Date</label>
				</div>		

				<div class="input-field col s4" >
					<select class="browser-defaut" id="toLocale" th:field="${dateTranslationRequest.toLocale}">
						<option th:each="aLocale: ${allLocales}" th:text="${aLocale.displayName}" th:value="${aLocale.hiddenValue}">Display of Locale</option>					
					</select>

					<label>Choose country whose date you want</label>
				</div>		


			</div>

			<div class="row">
				<div class ="col s12">
					<button class =" btn waves-effect waves-light" name="translate" type="submit">Translate
							 <i class ="mdi-content-send right"> </i>
					</button>			
				</div>
			</div>
													
		</form>
	</div>
</body>

</html>