<html
	xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default"
	>

	<head>
		<title>Dates Translated</title>
	</head>
	
	
	<body>
		<div class="row amber lighten-3" layout:fragment="content">

			<div class="row">
				<div class="col s12" >
					<h4 th:text="|${translatedDate.incoming} translated to this:|">What did we get?</h4>
				</div>

				<div class="col s4 offset-s2">
					<table>
						<thead>
							<tr>
								<th>Format Style</th>
								<th>The Date</th>
							</tr>					
						</thead>
					
						<tbody>
							<tr th:each="translation: ${translatedDate.translations}">
								<td th:text="${translation.key}">Format Style</td>
								<td th:text="${translation.value}">The Date</td>
							</tr>					
						</tbody>				
					</table>			
				</div>		
			</div>
			
			
		</div>
	
	</body>

</html>